// colors
$red-1: #f76c82;
$red-2: #eb5463;
$red-3: #d94452;

$orange-1: #fb836f;
$orange-2: #fa6c51;
$orange-3: #e8553e;

$yellow-1: #fbd277;
$yellow-2: #fdcd56;
$yellow-3: #f5b945;

$green-1: #b4df80;
$green-2: #9ed26a;
$green-3: #88c053;

$tosca-1: #62ddbc;
$tosca-2: #46ceac;
$tosca-3: #36ba9b;

$aqua-1: #67d4f1;
$aqua-2: #4fc0e8;
$aqua-3: #39add9;

$blue-1: #73b0f4;
$blue-2: #5e9cea;
$blue-3: #4b88da;

$lavender-1: #b3a4ee;
$lavender-2: #ac92ea;
$lavender-3: #9579da;

$pink-1: #f199ce;
$pink-2: #eb86be;
$pink-3: #d56fac;

$brown-1: #f4d0b5;
$brown-2: #efc7a4;
$brown-3: #e3b692;

$lg-1: #f4f6f8;
$lg-2: #e4e8eb;
$lg-3: #cad0d7;

$dg-1: #a9b0bb;
$dg-2: #636c77;
$dg-3: #434852;

.text-red-1 {
  color: $red-1 !important;
}
.text-red-2 {
  color: $red-2 !important;
}
.text-red-3 {
  color: $red-3 !important;
}
.text-orange-1 {
  color: $orange-1 !important;
}
.text-orange-2 {
  color: $orange-2 !important;
}
.text-orange-3 {
  color: $orange-3 !important;
}
.text-yellow-1 {
  color: $yellow-1 !important;
}
.text-yellow-2 {
  color: $yellow-2 !important;
}
.text-yellow-3 {
  color: $yellow-3 !important;
}
.text-green-1 {
  color: $green-1 !important;
}
.text-green-2 {
  color: $green-2 !important;
}
.text-green-3 {
  color: $green-3 !important;
}
.text-tosca-1 {
  color: $tosca-1 !important;
}
.text-tosca-2 {
  color: $tosca-2 !important;
}
.text-tosca-3 {
  color: $tosca-3 !important;
}
.text-aqua-1 {
  color: $aqua-1 !important;
}
.text-aqua-2 {
  color: $aqua-2 !important;
}
.text-aqua-3 {
  color: $aqua-3 !important;
}
.text-blue-1 {
  color: $blue-1 !important;
}
.text-blue-2 {
  color: $blue-2 !important;
}
.text-blue-3 {
  color: $blue-3 !important;
}
.text-lavender-1 {
  color: $lavender-1 !important;
}
.text-lavender-2 {
  color: $lavender-2 !important;
}
.text-lavender-3 {
  color: $lavender-3 !important;
}
.text-pink-1 {
  color: $pink-1 !important;
}
.text-pink-2 {
  color: $pink-2 !important;
}
.text-pink-3 {
  color: $pink-3 !important;
}
.text-brown-1 {
  color: $brown-1 !important;
}
.text-brown-2 {
  color: $brown-2 !important;
}
.text-brown-3 {
  color: $brown-3 !important;
}
.text-lg-1 {
  color: $lg-1 !important;
}
.text-lg-2 {
  color: $lg-2 !important;
}
.text-lg-3 {
  color: $lg-3 !important;
}
.text-dg-1 {
  color: $dg-1 !important;
}
.text-dg-2 {
  color: $dg-2 !important;
}
.text-dg-3 {
  color: $dg-3 !important;
}
// bg
.bg-red-1 {
  background-color: $red-1 !important;
}
.bg-red-2 {
  background-color: $red-2 !important;
}
.bg-red-3 {
  background-color: $red-3 !important;
}
.bg-orange-1 {
  background-color: $orange-1 !important;
}
.bg-orange-2 {
  background-color: $orange-2 !important;
}
.bg-orange-3 {
  background-color: $orange-3 !important;
}
.bg-yellow-1 {
  background-color: $yellow-1 !important;
}
.bg-yellow-2 {
  background-color: $yellow-2 !important;
}
.bg-yellow-3 {
  background-color: $yellow-3 !important;
}
.bg-green-1 {
  background-color: $green-1 !important;
}
.bg-green-2 {
  background-color: $green-2 !important;
}
.bg-green-3 {
  background-color: $green-3 !important;
}
.bg-tosca-1 {
  background-color: $tosca-1 !important;
}
.bg-tosca-2 {
  background-color: $tosca-2 !important;
}
.bg-tosca-3 {
  background-color: $tosca-3 !important;
}
.bg-aqua-1 {
  background-color: $aqua-1 !important;
}
.bg-aqua-2 {
  background-color: $aqua-2 !important;
}
.bg-aqua-3 {
  background-color: $aqua-3 !important;
}
.bg-blue-1 {
  background-color: $blue-1 !important;
}
.bg-blue-2 {
  background-color: $blue-2 !important;
}
.bg-blue-3 {
  background-color: $blue-3 !important;
}
.bg-lavender-1 {
  background-color: $lavender-1 !important;
}
.bg-lavender-2 {
  background-color: $lavender-2 !important;
}
.bg-lavender-3 {
  background-color: $lavender-3 !important;
}
.bg-pink-1 {
  background-color: $pink-1 !important;
}
.bg-pink-2 {
  background-color: $pink-2 !important;
}
.bg-pink-3 {
  background-color: $pink-3 !important;
}
.bg-brown-1 {
  background-color: $brown-1 !important;
}
.bg-brown-2 {
  background-color: $brown-2 !important;
}
.bg-brown-3 {
  background-color: $brown-3 !important;
}
.bg-lg-1 {
  background-color: $lg-1 !important;
}
.bg-lg-2 {
  background-color: $lg-2 !important;
}
.bg-lg-3 {
  background-color: $lg-3 !important;
}
.bg-dg-1 {
  background-color: $dg-1 !important;
}
.bg-dg-2 {
  background-color: $dg-2 !important;
}
.bg-dg-3 {
  background-color: $dg-3 !important;
}
// bg
borderred-1 {
 border-color: $red-1 !important;
}
.border-red-2 {
  border-color: $red-2 !important;
}
.border-red-3 {
  border-color: $red-3 !important;
}
.border-orange-1 {
  border-color: $orange-1 !important;
}
.border-orange-2 {
  border-color: $orange-2 !important;
}
.border-orange-3 {
  border-color: $orange-3 !important;
}
.border-yellow-1 {
  border-color: $yellow-1 !important;
}
.border-yellow-2 {
  border-color: $yellow-2 !important;
}
.border-yellow-3 {
  border-color: $yellow-3 !important;
}
.border-green-1 {
  border-color: $green-1 !important;
}
.border-green-2 {
  border-color: $green-2 !important;
}
.border-green-3 {
  border-color: $green-3 !important;
}
.border-tosca-1 {
  border-color: $tosca-1 !important;
}
.border-tosca-2 {
  border-color: $tosca-2 !important;
}
.border-tosca-3 {
  border-color: $tosca-3 !important;
}
.border-aqua-1 {
  border-color: $aqua-1 !important;
}
.border-aqua-2 {
  border-color: $aqua-2 !important;
}
.border-aqua-3 {
  border-color: $aqua-3 !important;
}
.border-blue-1 {
  border-color: $blue-1 !important;
}
.border-blue-2 {
  border-color: $blue-2 !important;
}
.border-blue-3 {
  border-color: $blue-3 !important;
}
.border-lavender-1 {
  border-color: $lavender-1 !important;
}
.border-lavender-2 {
  border-color: $lavender-2 !important;
}
.border-lavender-3 {
  border-color: $lavender-3 !important;
}
.border-pink-1 {
  border-color: $pink-1 !important;
}
.border-pink-2 {
  border-color: $pink-2 !important;
}
.border-pink-3 {
  border-color: $pink-3 !important;
}
.border-brown-1 {
  border-color: $brown-1 !important;
}
.border-brown-2 {
  border-color: $brown-2 !important;
}
.border-brown-3 {
  border-color: $brown-3 !important;
}
.border-lg-1 {
  border-color: $lg-1 !important;
}
.border-lg-2 {
  border-color: $lg-2 !important;
}
.border-lg-3 {
  border-color: $lg-3 !important;
}
.border-dg-1 {
  border-color: $dg-1 !important;
}
.border-dg-2 {
  border-color: $dg-2 !important;
}
.border-dg-3 {
  border-color: $dg-3 !important;
}